<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>

    <link rel="icon" href="img/weather.ico" />
    <link rel="stylesheet" href="./css/info.css">
</head>

<body>
    <article class="widget">
        <div class="weatherIcon"><img src="http://openweathermap.org/img/wn/<%=icon%>@4x.png" alt="logo"></div>
        <div class="weatherInfo">
            <div class="temperature"><span><%=temp%>&deg;</span></div>
            <div class="description">
                <div class="weatherType"><%= type %></div>
                <div class="weatherCondition"><%= desc %></div>
                <div class="place"><%= loc %></div>
            </div>
        </div>
        <div class="date">&nbsp;<%= time %><br>&nbsp;<%= date %><br>&nbsp;<%= year %></div>
    </article>

    <script src="./js/script.js" defer></script>
</body>

</html>